.Footer {
  margin-top: 2rem;
  color: $primary-color;

  &-border {
    opacity: 0.4;
    margin-bottom: 1em;
    overflow: hidden;
    user-select: none;
  }

  &-inner {
    display: flex;
    justify-content: space-between;

    a {
      color: $primary-color;

      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
  }
}
