// Typography
$body-font: 'JetBrains Mono', monospace;
$base-font-size: 16px;

// Colors
$primary-color: #FFBF00;
$background-color: #101010;
$font-color: #f0f4fa;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;

@import './reset';
@import './global';
@import './header';
@import './footer';
@import './home';
@import './post';
