// Typography
$body-font: 'Source Code Pro', monospace;
$base-font-size: 16px;

// Colors
$primary-color: #FF9900;
$background-color: #0a1833;
$font-color: #f0f4fa;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;

@import './reset';
@import './global';
@import './header';
@import './footer';
@import './home';
@import './post';